
body {
	background-image: url("image.jpeg");
	background-repeat:no-repeat;
    background-size:cover;
}

.centered {
     position:absolute;
     left: 10%;
     
     /*
         if, for instance, the image is 64x64 pixels,
         then "move" it half its width/height to the
         top/left by using negative margins
     */
     
 }

 .admin {
 	max-height: 50px;
 }