body{
	background-color: lightblue;
}

img {

    border-radius: 80%;
    padding: 35px;
    position: absolute;
    

}

.lion{
	
	top: 195%;
	left: 22%;
	padding-bottom: 20px;
	width: 35%;
}


.yoga{
	top: 125%;
	left: 70%;
	width: 25%;

}

.anne{
	width: 70%;
	top: 45%;
}

.ouchman{

	width: 28%;
	left: 0%;
	top: 165%;
}


.brushface{
	width: 45%;
	top: 8%;
	left: 52%;
}


.dude{
	top: 170%;
	left: 58%;
	width: 30%;
}

.roundsad{
	top: 67%;
	left: 70%;
	width: 28%;
}

.wooj{
	width: 25%;
	top: 12%;
}

.murat{
	top:100%;
	width:20%;
	
}

.butts{
	width: 22%;
	top: 8%;
	left: 28%;
}


