@import url('https://fonts.googleapis.com/css?family=Poiret+One');

body {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom left;
	background-attachment: fixed;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}


.title {
	position: fixed;
	top: 7%;
	left: 4%;
}

.bioText {

	position: absolute;
	top: 20%;
	left: 35%;
	width: 45%;
	text-align: left;
	line-height: 1.75;
	font-family: 'Poiret One', cursive;
	font-size: 20px;
}

h5 {
	font-size: 22px;
}

.back {
	position: fixed;
	bottom: 10%;
	right: 2%;
}

.float_me img{ 
	position: absolute;
	right: 10vw;
	bottom: 0px;
	height: 40vh;
 }

 .drawing.drinks img
 {
 	position: absolute;
 	right: 70vw;
 	bottom: 0px;
 	height: 50vh;
 }

 .drawing.snake img
 {
 	position: absolute;
 	right: 70vw;
 	height: 40vh;
 }

  .drawing.sniff img
 {
 	position: absolute;
 	right: 8vw;
 	height: 25vh;
 	top :5vh;
 }

@media only screen and (max-width : 600px) {
	.back {
		position: fixed;
		bottom: 8%;
		right: 4%;
	}
	.bioText {

		position: absolute;
		top: 20%;
		left: 35%;
		width: 45%;
		text-align: left;
		line-height: 1.75;
		font-family: 'Poiret One', cursive;
		font-size: 20px;
	}
	.float_me img{ 
		position: absolute;
		right: 20vw;
		bottom: 0px;
		height: 30vh;
 	}

 	.drawing.drinks img
 	{
	 	position: absolute;
	 	right: 60vw;
	 	bottom: 0px;
	 	height: 30vh;
 	}

	.drawing.snake img
	{
		position: absolute;
		right: 70vw;
		height: 40vh;
	}

	.drawing.sniff img
	{
		position: absolute;
		right: 5vw;
		height: 20vh;
		top :5vh;
	}
}







