html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
}

h1 {
	position: absolute;
	top:4%;
	left:9%;
}

a {
	text-decoration: none;
	color: rgb(0, 204, 102);
}

#main {

	color: rgb(200,200,200) ;
	font-family: Arial, Helvetica, sans-serif
	height: 100%;
	width: 100%;
	text-align: center;
}

.stretch {
	display: inline-block;
	position: relative;
	height: 100%;
}

.right {
	position: absolute;
	top: 49%;
	left: 10vh;
	width: 40vh;
	height: 20%;
}

.left {
	position: absolute;
	top: 55%;
	left: 60vh;
	width: 40vh;
	height: 25%;
}

div {
	color: rgb(200,200,200) ;
	font-family: Arial, Helvetica, sans-serif;
	position: absolute;
}

.banana {
	height: 100%;
}






/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
}

