@import url('https://fonts.googleapis.com/css?family=Poiret+One');

body {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom left;
	background-attachment: fixed;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;

}


.title {
	position: fixed;
	top: 7%;
	left: 4%;
	
}

.bioText {

	position: absolute;
	top: 20%;
	left: 35%;
	width: 45%;
	text-align: left;
	line-height: 1.75;
	font-family: 'Poiret One', cursive;
	font-size: 20px;

}

h5 {
	font-size: 22px;
}

.birdFoot {
	position: fixed;
	bottom: 1%;
	right: 6%;
}


.back {
	position: fixed;
	bottom: 10%;
	right: 2%;
}

.float_me img{ 
	position: absolute;
	right: 10vw;
	bottom: 0px;
	height: 40vh;
 }

/* .drawing img{
 	height: 30vh;
 }*/

 .drawing.drinks img
 {
 	position: absolute;
 	right: 70vw;
 	bottom: 0px;
 	height: 50vh;
 }

 .drawing.snake img
 {
 	position: absolute;
 	right: 70vw;
 	height: 40vh;
 }

  .drawing.sniff img
 {
 	position: absolute;
 	right: 10vw;
 	height: 25vh;
 	top :5vh;
 }

 /* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
}





