html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
}

h1 {
	position: absolute;
	top:4%;
	left:9%;
}

a {
	text-decoration: none;
	color: rgb(0, 204, 102);
}

#main {

	color: rgb(200,200,200) ;
	font-family: Arial, Helvetica, sans-serif
	height: 100%;
	width: 100%;
	text-align: center;
}

.stretch {
	display: inline-block;
	position: relative;
	height: 100%;
}

.left {
	position: absolute;
	top: 49%;
	left: 10vh;
	width: 40vh;
	height: 20%;
}

.right {
	position: absolute;
	top: 55%;
	left: 80vh;
	width: 40vh;
	height: 25%;
}

div {
	color: rgb(200,200,200) ;
	font-family: Arial, Helvetica, sans-serif;
	position: absolute;
}

.banana {
	height: 100%;
}


@media only screen and (max-width : 600px) {
 	.left{
 		position: absolute;
		top: 49%;
		left: 5vh;
		width: 30vh;
		height: 20%;
 	}
 	.right{
 		position: absolute;
		top: 50%;
		left: 40vh;
		width: 50vh;
		height: 30%;
 	}
 	.banana{
 		width: 100vw;
 	}
}


